<!DOCTYPE html>
<html>
  <head>
    <title>Bob's Bagel Shop VERIS Demonstration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='css/dbir.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <h3 class="muted">Bob's Bagel Shop</h3>
        </div>
