body {
    padding-top: 20px;
    padding-bottom: 40px;
    background:whitesmoke;
}

.container-narrow {
    margin: 0 auto;
    max-width: 800px;
    background:white;
    border-radius: 10px;
    padding:10px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.graphic-box {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    box-shadow: -7px 7px 5px #888888;
}

.graphic-comment {
    padding-left: 20px;
    padding-right: 20px;
   } 
