{% include 'partials/header.html' %}

        <p>Bob's Bagel Shop is a small bakery in Minnesota that seems to suffer from a lot of security incidents. The Incident Response team at Bob's Bagels makes it easier to enter VERIS incidents by pre-populating the form for the most frequently seen incidents. This makes a lot of helpful assumptions and reduces the opportunity for error.</p>
        <p>For example, any of the pre-populated incidents will fill in demographic information for Bob's donut shop. There is no reason for the incident responders to fill in that information (and possibly make a mistake) when it is going to be the same every time.</p>
        <p>If you select a stolen laptop which is unencrypted the form will assume that there is a Physical action of theft and that there was a confidentiality loss. This leave the investigator with only the unique information left to enter. The lost laptop scenario also includes code to assume the minimum, most likely, and maximum impact of the incident. In real life, an organiztion could decide to use assumptions like this or have the investigator fill that information in.</p>
        <p>When the form is submitted the completed incident is encoded in VERIS-schema-compliant JSON and displayed to the user.</p>

{% include 'partials/footer.html' %}
