{% include 'partials/header.html' %}
        You can learn more about the VERIS framework by visiting <a href="http://veriscommunity.net">http://veriscommunity.net</a>. While you're there reading about all of the fields in the VERIS framework you can get on the VERIS community listserv. The listserv allows you to tap into the wisdom of the community of people using VERIS, which includes some of the members of the Verizon RISK Team.</p>
        <p>For specific enumerations of the option, check out the github repository at <a href="https://github.com/vz-risk/veris">https://github.com/vz-risk/veris</a>. You can see what values we use for each of the enumerated fields in the VERIS community schema. You can also find a repository of publicly-reported information security incidents which have been coded into VERIS.</p>
        <p>This demo app was written by Kevin Thompson from the Verizon RISK Team. You can reach him on twitter at @bfist.</p>
        <p>General questions about VERIS are best sent to the VERIS Community mailing list, but can also be sent to <a href="mailto:veris@verizon.com">veris@verizon.com</a>. Questions abou the Verizon Data Breach Investigations Report can be sent to <a href="mailto:dbir@verizon.com">dbir@verizon.com</a>.</p>

{% include 'partials/footer.html' %}
