{% include 'partials/header.html' %}

        <p>Bob's Bagel Shop is a small bakery in Minnesota that seems to suffer from a lot of security incidents. The Incident Response team at Bob's Bagels makes it easier to enter VERIS incidents by pre-populating the form for the most frequently seen incidents. This makes a lot of helpful assumptions and reduces the opportunity for error.</p>
        <p>For example, any of the pre-populated incidents will fill in demographic information for Bob's donut shop. There is no reason for the incident responders to fill in that information (and possibly make a mistake) when it is going to be the same every time.</p>
                <form action="/" method="post">
                    <label>What kind of incident was this?</label>
                    <select id="variety" name="variety">
                        <option label="select">Please select</option>
                        <optgroup label="precoded incidents">
                            <option value="laptop">Stolen laptop (Unencrypted)</option>
                            <option value="misdelivery">Misdelivery of sensitive data</option>
                        </optgroup>
                        <option value="long">Long form</option>
                    </select><br />
                    <input type="submit" value="Next">
                </form>

{% include 'partials/footer.html' %}
