{% include 'partials/header.html' %}

        <h1>Stolen Laptop Quick Form</h1>
                <form action="/laptop_form" method="post">
                    <div id="laptop">
                        <div>
                            <div class="pull-left" style="width:250px;">
                                <label>When did all this happen?</label>
                                <input name="incident_date" type="date" required>
                            </div>
                                <p class="text-info">Enter the date in MM-DD-YYYY format. If you're using Chrome you will have a handy date picker that does that for you.</p>
                        </div>
                        <label style="clear:both;">From where was the laptop stolen?</label>
                        <select name="physical_location">
                            <option value="Partner facility">Partner facility</option>
                            <option value="Partner vehicle">"Partner vehicle"</option>
                            <option value="Personal residence">"Personal residence"</option>
                            <option value="Personal vehicle">"Personal vehicle"</option>
                            <option value="Public facility">"Public facility"</option>
                            <option value="Public vehicle">"Public vehicle"</option>
                            <option value="Victim secure area">"Victim secure area"</option>
                            <option value="Victim work area">"Victim work area"</option>
                            <option value="Victim public area">"Victim public area"</option>
                            <option value="Victim grounds">"Victim grounds"</option>
                            <option value="Unknown">Unknown</option>
                            <option value="Other">Other</option>
                        </select>
                        <label>What kind of sensitive data was on the laptop?</label>
                        <select name="data_variety">
                            <option value="Credentials">Credentials</option>
                            <option value="Bank">Banking/Finance Information</option>
                            <option value="Classified">Classified Information</option>
                            <option value="Copyrighted">Copyrighted Material</option>
                            <option value="Medical">Personal Medical</option>
                            <option value="Payment">Payment Card Data</option>
                            <option value="Personal">Personal Information</option>
                            <option value="Internal">Internal Information</option>
                            <option value="System">Systems Information</option>
                            <option value="Secrets">Trade Secrets</option>
                            <option value="Unknown">Unknown</option>
                            <option value="Other">Other</option>
                        </select>
                        <label>How much data are we talking here?</label>
                        <input name="data_count" required><br />
                    </div><br />
                    <input type="submit" value="Submit Incident">
                </form>

{% include 'partials/footer.html' %}
