{% include 'partials/header.html' %}

        <h1>Misdelivered Documents Quick Form</h1>
                <form action="/misdelivery" method="post">
                    <div id="laptop">
                        <div>
                            <div class="pull-left" style="width:250px;">
                                <label>When did the misdelivery happen?</label>
                                <input name="incident_date" type="date" required>
                                <label>When was the incident discovered?</label>
                                <input name="discovery_date" type="date" required>
                            </div>
                                <p class="text-info">Enter the date in MM-DD-YYYY format. If you're using Chrome you will have a handy date picker that does that for you.</p>
                        </div>
                        <label style="clear:both;">How was the incident discovered?</label>
                        <select name="discovery_method" required>
                            <optgroup label="External Discovery">
                                <option value="Ext - actor disclosure">Threat Actor Disclosure</option>
                                <option value="Ext - fraud detection">Fraud Detection</option>
                                <option value="Ext - monitoring service">Monitoring Service</option>
                                <option value="Ext - customer">Reported by Customer</option>
                                <option value="Ext - unrelated party">Reported by Unrelated Party</option>
                                <option value="Ext - audit">Audit</option>
                                <option value="Ext - law enforcement">Law Enforcement</option>
                            </optgroup>
                            <optgroup label="Internal Discovery">
                                <option value="Int - antivirus">Antivirus</option>
                                <option value="Int - incident response">Responding to another incident</option>
                                <option value="Int - financial audit">Internal Audit</option>
                                <option value="Int - fraud detection">Fraud Detection</option>
                                <option value="Int - HIDS">HIDS</option>
                                <option value="Int - IT audit">IT Audit</option>
                                <option value="Int - log review">Log Review</option>
                                <option value="Int - NIDS">NIDS</option>
                                <option value="Int - security alarm">Security Alarm</option>
                                <option value="Int - reported by user">Reported by User</option>
                            </optgroup>
                            <option value="Unknown">Unknown</option>
                            <option value="Other">Other</option>
                        </select>

                        <label style="clear:both;">From where was the laptop stolen?</label>
                        <label>What kind of sensitive data was misdelivered?</label>
                        <select name="data_variety">
                            <option value="Credentials">Credentials</option>
                            <option value="Bank">Banking/Finance Information</option>
                            <option value="Classified">Classified Information</option>
                            <option value="Copyrighted">Copyrighted Material</option>
                            <option value="Medical">Personal Medical</option>
                            <option value="Payment">Payment Card Data</option>
                            <option value="Personal">Personal Information</option>
                            <option value="Internal">Internal Information</option>
                            <option value="System">Systems Information</option>
                            <option value="Secrets">Trade Secrets</option>
                            <option value="Unknown">Unknown</option>
                            <option value="Other">Other</option>
                        </select>
                        <label>How much data are we talking here?</label>
                        <input name="data_count" required><br />
                        <label>What was the root control failure that allowed this to happen?</label>
                        <textarea name="control_failure" rows="4"></textarea>
                    </div><br />
                    <input type="submit" value="Submit Incident">
                </form>

{% include 'partials/footer.html' %}
