{% include 'partials/header.html' %}

        <h1>Sorry, not yet</h1>
        <p>This app doesn't include a long form since it was just for demonstrating how to make small forms to fill out VERIS incidents.</p>

{% include 'partials/header.html' %}
